header {
    margin-left: 30px;
    text-align: left;
    color: white;
    /*text-transform: uppercase;*/
}


body {
    text-align: center;
    background: black;
    font-family: Bahnschrift, monospace;
}

.yellowbut {
    background-color: red;
    color: black;
}

.but {
    /*background-color: yellow;*/
    color: white;
    padding: 0.5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.2s;
    margin: 4px;
}

.but:hover {
    background-color: brown;
    cursor: pointer;
}

.but:active {
    background-color: black;
}
