body {
    background: wheat;
    text-align: center;
    font-family: Bahnschrift, monospace;
    font-stretch: condensed;
}

a {
    text-decoration: none;
    color: #000077;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    /*color: darkred;*/
}

p {
    margin-top: -17px;
}

footer {
    /*margin-left: 40%;*/
    /*bottom: 3%;*/
}


.coloranim {
    animation: colors 10s infinite;
}

@keyframes colors {
    from {
        color: black;
    }
    10% {
        color: darkblue;
    }

    20% {
        color: aqua;
    }

    30% {
        color: yellow;
    }

    40% {
        color: orange;
    }

    50% {
        color: indianred;
    }

    60% {
        color: red;
    }

    70% {
        color: darkred;
    }

    80% {
        color: black;
    }

    90% {

    }
    to {
        color: black;
    }
}