body {
    background: black;
    color: whitesmoke;

    /*text-transform: uppercase;*/
    text-align: center;
    font-family: Bahnschrift, monospace;
    font-stretch: ultra-condensed;
}

a {
    text-decoration: none;
    color: #FFFFCC;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    /*color: darkred;*/
}

button {
    font-family: Bahnschrift, monospace;
    font-stretch: semi-condensed;
    background-color: wheat;
    transition-duration: 0.3s;
}

button:hover {
    background-color: orange;
}

input {
    max-width: 5%;
}

p {
    margin-top: -17px;
}

footer {
    position: fixed;
    margin-left: 50%;
    bottom: 3%;
}

.coolerA {
    animation: colors 25s infinite;

}

.coloranim {
    animation: colors 10s infinite;
}

@keyframes colors {
    from {
        color: white;
    }
    10% {
        color: darkblue;
    }

    20% {
        color: aqua;
    }

    30% {
        color: yellow;
    }

    40% {
        color: orange;
    }

    50% {
        color: indianred;
    }

    60% {
        color: red;
    }

    70% {
        color: darkred;
    }

    80% {
        color: ghostwhite;
    }

    90% {

    }
    to {
        color: white;
    }
}